body {
    margin: 0;
}

// light theme
.page {
    display: grid;
    grid-template-rows: 55px calc(100vh - 55px);
    /* height limitation on second row */
    grid-template-columns: auto;
    grid-template-areas: "header header"
        "nav content"
        "footer footer";

    .nav {
        grid-area: nav;
        background-color: lightblue;
        padding: 24px;
        justify-content: center;
    }

    .header {
        grid-area: header;
        background-color: rgb(40, 40, 41);
        display: flex;
        align-items: center;
        padding: 24px;
    }

    .gallery {
        max-height: 550px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        align-items: flex-end;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid lightblue;

    }

    a {
        text-decoration: none;
        list-style: none;
    }

    p {
        margin: 0;
    }

    button {
        padding: 12px 16px;
        background-color: darkblue;
        color: white;
        border-radius: 8px;
        border: none;
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 12px;
    }

    .content {
        grid-area: content;
        background-color: rgb(241, 241, 241);
        overflow-y: scroll;
        overflow-x: hidden;
        /* overflow condition on parent */
        padding: 24px;
    }

    article {
        height: 1000px;
        /* height set on child; triggers scroll */
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
        cursor: default;
        width: 200px;
        padding: 4px 8px;
        box-sizing: border-box;
        border-radius: 8px;
        border: 2px solid lightblue;
    }

    .form-section {
        border: 6px solid lightblue;
        border-radius: 8px;
        padding: 16px;
        margin: 8px 0;
    }

    .logo {
        color: white;
    }

    .card {
        padding: 24px;
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }

    .img {
        width: 500px;
        height: 550px;
        object-fit: cover;
        border-radius: 8px;

        &__small {
            width: 250px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .wrapper {
        &__column {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        &__inline {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
        }

        &__inline-start {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: flex-start;
        }
    }


    .footer {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: rgb(40, 40, 41);
        color: white;
        position: fixed;
        bottom: 0;
    }
}

// Dark theme
.page-dark {
    display: grid;
    grid-template-rows: 55px calc(100vh - 55px);
    /* height limitation on second row */
    grid-template-columns: auto;
    grid-template-areas: "header header"
        "nav content"
        "footer footer";
    background-color: rgb(40, 40, 41);


    .nav {
        grid-area: nav;
        background-color: rgb(9, 4, 32);
        padding: 24px;
        justify-content: center;
        color: rgb(255, 255, 255);
    }

    .header {
        grid-area: header;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        padding: 24px;
        color: beige;
    }

    .gallery {
        max-height: 550px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        align-items: flex-end;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid rgb(40, 40, 41);

    }

    a {
        text-decoration: none;
        list-style: none;
    }

    button {
        padding: 12px 16px;
        background-color: cyan;
        border-radius: 8px;
        border: none;
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 12px;
    }

    .content {
        grid-area: content;
        background-color: rgb(40, 40, 41);
        overflow-y: scroll;
        overflow-x: hidden;
        /* overflow condition on parent */
        padding: 24px;
    }

    article {
        height: 1000px;
        /* height set on child; triggers scroll */
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        // width: 200px;
    }

    .form-section {
        border: 1px solid lightblue;
        border-radius: 8px;
        padding: 16px;
        margin: 8px 0;
    }

    .logo {
        color: white;
    }

    .card {
        padding: 24px;
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(68, 68, 70);
        color: white;
    }

    .img {
        width: 500px;
        height: 550px;
        object-fit: cover;
        border-radius: 8px;

        &__small {
            width: 250px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .wrapper {
        &__column {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__inline {
            display: flex;
            flex-direction: row;

        }
    }

    .input {
        width: 300px;
        display: flex;
        flex-direction: row;
    }

    .footer {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: rgb(0, 0, 0);
        color: white;
        position: fixed;
        bottom: 0;
    }
}